**/*.DS_Store
**/*.log
**/*.md
**/*.php~
**/*.sql.gz
**/._*
**/.dockerignore
**/.gitignore
**/Dockerfile
**/Thumbs.db
*.env.dist
*.sublime-project
*.sublime-workspace
.editorconfig
.env
.git/
.gitattributes
.gitlab-ci.yml
.gitmodules
.php_cs.cache
.travis.yml
app/config/parameters.yml
bin/symfony_requirements
build/
composer.phar
docker-compose.override.yml
docker-compose.yml
docker/db/data/
var/
vendor/
web/app_dev.php
web/bundles/
web/config.php
