*.DS_Store
*.php~
*.sublime-project
*.sublime-workspace
._*
.dockerignore
.editorconfig
.git/
.gitignore
.gitmodules
.travis.yml
app/config/parameters.yml
bin/
composer.phar
docker-compose.override.yml
docker-compose.yml
Dockerfile
Thumbs.db
README.md
var/
vendor/
web/app_dev.php
web/config.php
web/bundles/

!bin/console
