# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
charset = utf-8
insert_final_newline = true
end_of_line = lf
indent_style = space
indent_size = 4

[**/{Dockerfile,*Caddyfile,*.sh}]
indent_style = tab

[{compose.*yaml,.github/**/*.yaml,.github/dependabot.yml,helm/**/*.yaml}]
indent_size = 2

[{**.md,**/Chart.lock}]
indent_size = unset
indent_style = unset
