* text=auto eol=lf

*.conf text eol=lf
*.go text eol=lf
*.ini text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

*.ico binary
*.png binary

go.sum text eol=lf merge=ours
