apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "api-platform.fullname" . }}
  labels:
    {{- include "api-platform.labels" . | nindent 4 }}
data:
  php-app-env: {{ .Values.php.appEnv | quote }}
  php-app-debug: {{ .Values.php.appDebug | quote }}
  php-cors-allow-origin: {{ .Values.php.corsAllowOrigin | quote }}
  php-trusted-hosts: {{ .Values.php.trustedHosts | quote }}
  php-trusted-proxies: {{ join "," .Values.php.trustedProxies }}
  mercure-publish-url: {{ .Values.mercure.publishUrl | default "http://127.0.0.1/.well-known/mercure" | quote }}
  mercure-subscribe-url: {{ .Values.mercure.subscribeUrl | quote }}
