{
    experimental_http3
}

{$SERVER_NAME}

log

route {
    root * /srv/api/public
    mercure {
        # Enable the demo endpoint (disable it in production!)
        {$MERCURE_DEMO}
        # Publisher JWT key
        publisher_jwt {$MERCURE_PUBLISHER_JWT}
        # Subscriber JWT key
        subscriber_jwt {$MERCURE_SUBSCRIBER_JWT}
        # Allow anonymous subscribers (double-check that it's what you want)
        anonymous
        # Enable the subscription API (double-check that it's what you want)
        subscriptions
    }
    vulcain
    push
    php_fastcgi php:9000
    encode gzip
    file_server
}
