{
    # Debug
    {$DEBUG}
    # HTTP/3 support
    servers {
        protocol {
            experimental_http3
        }
    }
}

{$SERVER_NAME}

log

@pwa {
    # Pass the request to the API for typical API media types.
    # `application/xml` is not in the list on purpose:
    # it is part of the default Accept header sent by browsers.
    not header_regexp Accept (?i)(?:\bjson\b|^text/(?:csv|xml)$|^application/x-yaml$)

    # Explicitly list routes always handled by the API as well as
    # URLs with an extension corresponding to common formats supported by the API.
    not path_regexp (?i)(?:^/docs|^/graphql|^/bundles/|^/_profiler|^/_wdt|.+\.(?:json|html$|csv$|ya?ml$|xml$))
}

route {
    root * /srv/api/public
    mercure {
        # Transport to use (default to Bolt)
        transport_url {$MERCURE_TRANSPORT_URL:bolt:///data/mercure.db}
        # Publisher JWT key
        publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_PUBLISHER_JWT_ALG}
        # Subscriber JWT key
        subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}
        # Allow anonymous subscribers (double-check that it's what you want)
        anonymous
        # Enable the subscription API (double-check that it's what you want)
        subscriptions
        # Extra directives
        {$MERCURE_EXTRA_DIRECTIVES}
    }
    vulcain
    push

    # Comment the following line if you don't want Next.js to catch requests for HTML documents.
    # In this case, they will be handled by the PHP app.
    reverse_proxy @pwa http://{$PWA_UPSTREAM}
    php_fastcgi unix//var/run/php/php-fpm.sock
    encode zstd gzip
    file_server
}
