name: CI

on:
    push:
    pull_request:

jobs:
    tests:
        name: Docker build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Pull images
              run: docker-compose pull
            - name: Start services
              run: docker-compose up --build -d
            - name: Wait for services
              run: |
                  while status="$(docker inspect --format="{{if .Config.Healthcheck}}{{print .State.Health.Status}}{{end}}" "$(docker-compose ps -q php)")"; do
                    case $status in
                      starting) sleep 1;;
                      healthy) exit 0;;
                      unhealthy)
                        docker-compose ps
                        docker-compose logs
                        exit 1
                      ;;
                    esac
                  done
                  exit 1
            - name: Check HTTP reachability
              run: curl -v -o /dev/null http://localhost
            - name: Check HTTPS reachability
              run: curl  -vk -o /dev/null https://localhost
            - name: PHPUnit
              run: docker-compose exec -T php bin/phpunit
            - name: Jest
              run: docker-compose exec -T pwa yarn test --passWithNoTests
